<div class="flex min-h-screen items-center justify-center bg-gray-100">
    <div class="w-full max-w-md rounded-xl bg-white p-8 shadow-lg">
        <h2 class="mb-6 text-center text-3xl font-bold text-gray-800">
            Login
        </h2>

        <form (ngSubmit)="onLogin()" class="space-y-4">
            <input [(ngModel)]="credentials.email" name="email" type="email" placeholder="Email" required
                class="w-full rounded-lg border border-gray-300 px-4 py-3 focus:border-blue-500 focus:outline-none focus:ring-2 focus:ring-blue-200" />

            <input [(ngModel)]="credentials.password" name="password" type="password" placeholder="Password" required
                class="w-full rounded-lg border border-gray-300 px-4 py-3 focus:border-blue-500 focus:outline-none focus:ring-2 focus:ring-blue-200" />

            <button type="submit"
                class="w-full rounded-lg bg-blue-600 py-3 font-medium text-white transition hover:bg-blue-700">
                Login
            </button>
        </form>

        <p class="mt-4 text-center text-sm text-red-500">
            {{ errorMessage }}
        </p>
        <p class="text-center text-sm text-gray-500 mt-4">
            Don't have an account?
            <a routerLink="/register" class="text-blue-600 text-decoration-cursor hover:underline font-medium">Register
                here</a>
        </p>
    </div>
</div>